# ===== Java =====
*.class
*.log

# ===== Maven =====
**/target/
!**/.mvn/wrapper/maven-wrapper.jar

# ===== IDE =====
.idea/
.vscode/
*.iml

# ===== OS =====
.DS_Store
Thumbs.db

# ===== Environment =====
.env

# ===== Logs =====
logs/

# ===== Docker =====
*.tar

# ===== Database =====
*.sql

# ===== Temporary =====
tmp/
temp/

# ===== Big data files =====
*.shp
*.shx
*.dbf
*.zip
*.csv
*.geojson
